/**
 * FileBrowser Styles
 * Classic Mac OS 8/9 Finder-style file browser styling
 */

.fileBrowser {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--color-content-bg);
  overflow: hidden;
}
